In [1]:
import mysql.connector
import pandas as pd

In [2]:
file_name = 'Sample - Superstore.xls'

In [2]:
config = {
  'user': 'root',
  'password': '1234',
  'host': '127.0.0.1',
  'database': 'gbc_superstore',
  'raise_on_warnings': True
}

In [5]:
managers_df = pd.read_csv('Managers.csv')

In [4]:
managers_df

    Regional Manager   Region
0    Sadie Pawthorne     West
1        Chuck Magee     East
2  Roxanne Rodriguez  Central
3        Fred Suzuki    South

In [4]:
con = mysql.connector.connect(**config)
cursor = con.cursor()

In [52]:
managers_df.iloc[0]['Regional Manager']

'Sadie Pawthorne'

In [20]:
for idx in range(len(managers_df)):
    print(managers_df.iloc[idx])

Regional Manager    Sadie Pawthorne
Region                         West
Name: 0, dtype: object
Regional Manager    Chuck Magee
Region                     East
Name: 1, dtype: object
Regional Manager    Roxanne Rodriguez
Region                        Central
Name: 2, dtype: object
Regional Manager    Fred Suzuki
Region                    South
Name: 3, dtype: object

In [39]:
sql = """INSERT IGNORE INTO  Regional_Manager (Name) Values(%s)"""

In [40]:
cursor.execute(sql, (managers_df.iloc[0][0],))

In [41]:
manager_id = cursor.lastrowid

In [33]:
sql = """INSERT INTO  Region (Name, Manager_ID) Values(%s, %s)"""

In [34]:
cursor.execute(sql, (managers_df.iloc[0][1], manager_id))

In [35]:
con.commit()

In [36]:
con.close()

In [42]:
manager_id

2

In [56]:
q = """ SELECT Manager_ID, Name FROM Regional_Manager WHERE 
    Name = %s
"""
cursor.execute(q, ('Sadie',))

In [45]:
cursor.rowcount

-1

In [57]:
cursor.fetchone()

In [47]:
cursor.fetchone()

(2, 'Sadie Pawthorne')

In [48]:
cursor.fetchone()

In [49]:
cursor.rowcount

2

In [50]:
con.close()

In [51]:
managers_df['Regional Manager']

0      Sadie Pawthorne
1          Chuck Magee
2    Roxanne Rodriguez
3          Fred Suzuki
Name: Regional Manager, dtype: object

In [67]:
for i in range(len(managers_df)):
    query = """ SELECT Manager_ID, Name FROM Regional_Manager WHERE 
        Name = %s
    """
    cursor.execute(query, (managers_df.iloc[i]['Regional Manager'],))
    if len(cursor.fetchall()):
        continue

    sql = sql = """INSERT INTO  Regional_Manager (Name) Values(%s)"""
    cursor.execute(sql, (managers_df.iloc[i]['Regional Manager'],))

    manager_id = cursor.lastrowid
    sql = """INSERT INTO  Region (Name, Manager_ID) Values(%s, %s)"""
    cursor.execute(sql, (managers_df.iloc[i]['Region'], manager_id))

    con.commit()

In [123]:
cursor.close()
con.close()

InternalError: Unread result found

In [9]:
orders_df = pd.read_csv('Orders.csv')

In [122]:
orders_df.iloc[0]['Customer ID']

'CG-12520'

In [71]:
orders_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2018-110422,2018-01-21,2018-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2021-119914,2021-05-04,2021-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [72]:
orders_df.rename(columns={'Country/Region': 'Country'}, inplace=True)

In [73]:
orders_df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2018-110422,2018-01-21,2018-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2021-121258,2021-02-26,2021-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2021-119914,2021-05-04,2021-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [77]:
orders_df.iloc[0][1]

'CA-2020-152156'

In [74]:
query = """ SELECT Customer_ID FROM Customer WHERE 
        Customer_ID = %s
    """

In [82]:
cursor.execute(query, (orders_df.iloc[0][1],))

In [83]:
len(cursor.fetchall())

0

In [84]:
sql = """INSERT INTO  Customer (Customer_ID, Name, Country, City, State, Postal_Code, Segment) 
            Values(%s, %s, %s, %s, %s, %s, %s)"""

In [90]:
data = (orders_df.iloc[0]['Customer ID'], orders_df.iloc[0]['Customer Name'], orders_df.iloc[0]['Country'],
            orders_df.iloc[0]['City'], orders_df.iloc[0]['State'], int(orders_df.iloc[0]['Postal Code']),
            orders_df.iloc[0]['Segment']
        )

In [91]:
data

('CG-12520',
 'Claire Gute',
 'United States',
 'Henderson',
 'Kentucky',
 42420,
 'Consumer')

In [89]:
int(data[5])

42420

In [92]:
cursor.execute(sql, data)

In [94]:
con.commit()

In [95]:
query = """ SELECT Customer_ID FROM Customer WHERE 
        Customer_ID = %s
    """

In [96]:
cursor.execute(query, (orders_df.iloc[0]['Customer ID'],))

In [97]:
res = cursor.fetchall()

In [98]:
len(res)

1

In [100]:
res[0][0]

'CG-12520'

In [102]:
orders_df.iloc[0]['Category']

'Furniture'

In [104]:
orders_df.iloc[0]['Order ID']

'CA-2020-152156'

In [107]:
query = """ SELECT * FROM Order WHERE 
        Order_ID = %s
    """

In [112]:
cursor.execute(query, (orders_df.iloc[0]['Order ID'],))

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Order WHERE
        Order_ID = 'CA-2020-152156'' at line 1

In [117]:
query = """ SELECT Order_ID FROM Orders WHERE 
        Order_ID = %s
    """

In [118]:
cursor.execute(query, (orders_df.iloc[0]['Order ID'],))

In [7]:
from datetime import date, datetime, timedelta

In [10]:
orders_df.iloc[0]['Order Date']

'2020-11-08'

In [11]:
float(orders_df.iloc[0]['Sales'])

261.96

In [12]:
cursor.close()
con.close()

In [15]:
orders_df = pd.read_excel(file_name, sheet_name="Orders", index_col=0)

In [20]:
managers_df = pd.read_excel(file_name, sheet_name="People")

In [24]:
returns_df = pd.read_excel(file_name, sheet_name="Returns")

In [25]:
returns_df

    Returned        Order ID
0        Yes  CA-2018-100762
1        Yes  CA-2018-100762
2        Yes  CA-2018-100762
3        Yes  CA-2018-100762
4        Yes  CA-2018-100867
..       ...             ...
795      Yes  US-2021-147886
796      Yes  US-2021-147998
797      Yes  US-2021-151127
798      Yes  US-2021-155999
799      Yes  US-2021-155999

[800 rows x 2 columns]